rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isValidKey(id) {
      return id.matches('[0-9a-zA-Z\\-_]{7,}')
    }

    match /mobs/{id} {
      allow create: if isValidKey(id);
      allow list: if false;
      allow get, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}